body {
	font-family: 'Xanh Mono';
  padding: 10px;
	color: white;
  margin: 40px;
	background-color: black;
	background-image: url('1.jpg');
}

h2{

}

h1{
  font-family: 'VT323';
	padding: 10px;
	color: white;
  }
